apiVersion: v1
kind: Secret
metadata:
  name: tempo-s3
  namespace: tempo
  labels:
    demo.redhat.com/name: coo-incident-detection
    demo.redhat.com/created-by: agnosticd
type: Opaque
stringData:
  endpoint: http://minio.openshift-logging.svc.cluster.local:9000
  bucket: tempo
  access_key_id: "{{ ocp4_workload_coo_incident_detection_minio_access_key }}"
  access_key_secret: "{{ ocp4_workload_coo_incident_detection_minio_secret_key }}"
