apiVersion: v1
kind: Secret
metadata:
  name: logging-loki-s3
  namespace: openshift-logging
  labels:
    demo.redhat.com/name: coo-incident-detection
    demo.redhat.com/created-by: agnosticd
type: Opaque
stringData:
  access_key_id: "{{ ocp4_workload_coo_incident_detection_minio_access_key }}"
  access_key_secret: "{{ ocp4_workload_coo_incident_detection_minio_secret_key }}"
  bucketnames: loki
  endpoint: http://minio.openshift-logging.svc:9000
