apiVersion: v1
kind: Secret
metadata:
  name: minio-credentials
  namespace: openshift-logging
  labels:
    demo.redhat.com/name: coo-incident-detection
    demo.redhat.com/created-by: agnosticd
type: Opaque
stringData:
  MINIO_ROOT_USER: "{{ ocp4_workload_coo_incident_detection_minio_access_key }}"
  MINIO_ROOT_PASSWORD: "{{ ocp4_workload_coo_incident_detection_minio_secret_key }}"
