apiVersion: v1
kind: Secret
metadata:
  name: llm-credentials
  namespace: openshift-lightspeed
  labels:
    demo.redhat.com/name: coo-incident-detection
    demo.redhat.com/created-by: agnosticd
type: Opaque
stringData:
  # The Lightspeed operator looks for the key named 'apitoken'
  apitoken: "{{ ocp4_workload_coo_incident_detection_llm_api_token }}"
